.Contact-main-section {
  display: flex;
}
.Contact-main-image-section {
  height: 600px;
  width: 50%;
  /* border: 1px solid black; */
}
.Contact-image-section {
  height: 500px;
  width: 80%;
  margin: 40px 0 0 80px;
}
.contact-main-heading-section {
  height: 600px;
  width: 54%;
  /* border: 1px solid black; */
}
.contact-paragraph-section {
  font-size: 21px;
  margin: 30px 0 0 90px;
}
.contact-heading-section {
  margin: 70px 0 0 30%;
}
/* .contact-image-main-section {
  height: 600px;
  width: 46%;
  /* border: 1px solid black; */
/* } */
*/ .contact-image-section {
  height: 400px;
  width: 60%;
  /* border: 1px solid black; */
  margin: 70px 0 0 30%;
}
.githubImageSection {
  height: 50px;
  width: 50px;
  margin: 10px 0 0 270px;
}
.linkedlnImageSection {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 4px;
}
.resume-button {
  margin: 20px 0 0px 30%;
  font-size: 20px;
}
.resume-button:hover {
  background-color: rgb(44, 128, 95);
  color: white;
}
.adress-heading-section {
  margin: 10px 0 0 250px;
  font-size: 20px;
}
.adress-paragraph-section {
  margin: 0 0 0 100px;
}
.heading-mobile-number-section {
  margin: 10px 0 0 250px;
  font-size: 20px;
}
.number-section {
  margin: 10px 0 0 320px;
  font-size: 20px;
}
.maps {
  margin: 10px 0 0 320px;
}
.visit-google-map-button {
  font-size: 20px;
}
.visit-google-map-button:hover {
  background-color: rgb(44, 128, 95);
  color: white;
}

@media only screen and (max-width: 1025px) {
  .Contact-main-section {
    display: flex;
  }
  .contact-main-heading-section {
    height: 600px;
    width: 54%;
    /* border: 1px solid black; */
  }
  .Contact-image-section {
    height: 420px;
    width: 100%;
    margin: 40px 0 0 20%;
    /* border: 1px solid black; */
  }
  .contact-heading-section {
    margin: 30px 0 0 60%;
    height: 20px;
    width: 80%;
  }
  .contact-paragraph-section {
    height: 50px;
    width: 120%;
    font-size: 27px;
    margin: 60px 0 0 30%;
  }
  .heading-mobile-number-section {
    margin: 290px 0 0 60%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .number-section {
    margin: 50px 0 0 78%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .resume-button {
    margin: 10px 0 0px 30%;
    font-size: 20px;
  }
  .adress-heading-section {
    margin: 10px 0 0 36%;
    font-size: 20px;
  }
  .maps {
    margin: 40px 0 0 72%;
    height: 20px;
    width: 100%;
  }
  .githubImageSection {
    height: 50px;
    width: 50px;
    margin: 10px 0 0 250px;
  }
  .linkedlnImageSection {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 769px) {
  .contact-heading-section {
    margin: 30px 0 0 90%;
    height: 20px;
    width: 80%;
    /* border: 1px solid black; */
  }
  .Contact-image-section {
    height: 420px;
    width: 130%;
    margin: 40px 0 0 40%;
    /* border: 1px solid black; */
  }
  .contact-paragraph-section {
    height: 50px;
    width: 120%;
    font-size: 27px;
    margin: 60px 0 0 70%;
  }
  .githubImageSection {
    height: 50px;
    width: 50px;
    margin: 10px 0 0 200px;
  }
  .heading-mobile-number-section {
    margin: 320px 0 0 90%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .number-section {
    margin: 50px 0 0 112%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .maps {
    margin: 30px 0 0 105%;
    height: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .Contact-main-section {
    display: inline-block;
  }
  .Contact-image-section {
    height: 420px;
    width: 270%;
    margin: 40px 0 0 100%;
    /* border: 1px solid black; */
  }
  .githubImageSection {
    height: 50px;
    width: 50px;
    margin: 10px 0 0 250px;
  }
  .contact-heading-section {
    margin: -80px 0 0 150%;
    height: 20px;
    width: 160%;
    /* border: 1px solid black; */
  }
  .contact-paragraph-section {
    height: 50px;
    width: 300%;
    font-size: 27px;
    margin: 60px 0 0 70%;
  }
  .adress-paragraph-section {
    margin: 0 0 0 40px;
  }
  .heading-mobile-number-section {
    margin: 280px 0 0 140%;
    font-size: 20px;
    height: 20px;
    width: 150%;
  }
  .number-section {
    margin: 50px 0 0 168%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .maps {
    margin: 30px 0 0 155%;
    height: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 376px) {
  .Contact-image-section {
    height: 420px;
    width: 270%;
    margin: 40px 0 0 230%;
    /* border: 1px solid black; */
  }
  .Contact-image-section {
    height: 420px;
    width: 270%;
    margin: 40px 0 0 100%;
    /* border: 1px solid black; */
  }
  .contact-paragraph-section {
    height: 50px;
    width: 350%;
    font-size: 27px;
    margin: 60px 0 0 70%;
  }
  .adress-paragraph-section {
    margin: 0 0 0 40px;
  }
  .heading-mobile-number-section {
    margin: 270px 0 0 150%;
    font-size: 20px;
    height: 20px;
    width: 180%;
  }
  .number-section {
    margin: 50px 0 0 188%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .maps {
    margin: 30px 0 0 175%;
    height: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 321px) {
  .Contact-image-section {
    height: 420px;
    width: 270%;
    margin: 40px 0 0 150%;
    /* border: 1px solid black; */
  }
  .contact-paragraph-section {
    height: 50px;
    width: 390%;
    font-size: 27px;
    margin: 60px 0 0 70%;
  }
  .contact-heading-section {
    margin: -80px 0 0 160%;
    height: 20px;
    width: 190%;
    /* border: 1px solid black; */
  }
  .heading-mobile-number-section {
    margin: 270px 0 0 150%;
    font-size: 20px;
    height: 20px;
    width: 200%;
  }
  .number-section {
    margin: 50px 0 0 198%;
    font-size: 20px;
    height: 20px;
    width: 100%;
  }
  .maps {
    margin: 30px 0 0 185%;
    height: 20px;
    width: 100%;
  }
}
