.Experience-main-section {
  display: flex;
}
.Experience-parent-section {
  height: 600px;
  width: 50%;
}
.Experience-main-image-section {
  height: 600px;
  width: 50%;
}
.Experience-image-section {
  height: 500px;
  width: 80%;
  margin: 40px 0 0 80px;
}
.Experience-main-heading-section {
  margin: 120px 0 0 230px;
  color: rgb(3, 3, 69);
}
.Experience-heading-section {
  margin: 15px 0 0 300px;
  color: rgb(3, 3, 69);
}
.Experience-paragraph-section {
  margin: 20px 0 0 35px;
  font-size: 22px;

  height: 300px;
}
.Experience-paragraph-section-child {
  font-size: 30px;
}
@media only screen and (max-width: 1024px) {
  .Experience-main-section {
    display: inline-block;
  }
  .Experience-main-image-section {
    height: 600px;
    width: 120%;
    margin: 0 0 0 100px;
  }
  .Experience-parent-section {
    height: 600px;
    width: 100%;
    margin: 0 0 0 200px;
  }
  .Experience-main-heading-section {
    margin: 120px 0 0 390px;
    color: rgb(3, 3, 69);
  }
  .Experience-heading-section {
    margin: 15px 0 0 450px;
    color: rgb(3, 3, 69);
  }
}
@media only screen and (max-width: 769px) {
  .Experience-main-section {
    display: inline-block;
  }
  .Experience-main-image-section {
    height: 600px;
    width: 120%;
    margin: 0 0 0 150px;
  }
  .Experience-parent-section {
    height: 600px;
    width: 120%;
    margin: 0 0 0 170px;
  }
  .Experience-main-heading-section {
    margin: 120px 0 0 390px;
    color: rgb(3, 3, 69);
  }
  .Experience-heading-section {
    margin: 15px 0 0 450px;
    color: rgb(3, 3, 69);
  }
}
@media only screen and (max-width: 426px) {
  .Experience-parent-section {
    height: 600px;
    width: 130%;
    margin: 0 0 0 140px;
  }
  .Experience-main-heading-section {
    margin: 120px 0 0 250px;
    color: rgb(3, 3, 69);
  }
  .Experience-heading-section {
    margin: 15px 0 0 300px;
    color: rgb(3, 3, 69);
  }
}
@media only screen and (max-width: 376px) {
  .Experience-parent-section {
    height: 600px;
    width: 130%;
    margin: 0 0 0 70px;
  }
  .Experience-main-image-section {
    height: 600px;
    width: 147%;

    margin: 0 0px 0 0px;
  }
  .Experience-image-section {
    height: 500px;
    width: 90%;
    margin: 40px 0 0 80px;
  }
  .Experience-main-heading-section {
    margin: 60px 0 0 280px;
    height: 100px;
    width: 300px;
    color: rgb(3, 3, 69);

    font-size: 80px;
  }
  .Experience-heading-section {
    margin: 0px 0 0 330px;
    color: rgb(3, 3, 69);
  }
}
