.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section {
  height: 200px;
  width: 500px;
  /* border: 1px solid rgb(31, 54, 136);s */
  margin: 300px 0px 0 150px;
  font-size: 16px;
  /* background-color: blue; */
  border-radius: 10px;
  /* box-shadow: 1px 1px 14px 14px rgb(16, 151, 38); */
}
.name-heading {
  font-size: 70px;
  color: rgb(20, 47, 61);
}
.tytle {
  /* margin: 20px 0 0 12px; */
  font-size: 40px;
  color: rgb(87, 158, 180);
}
.right-section {
  /* height: 300px; */
  /* width: 300px; */
  /* border: 1px solid black; */
  margin: 500px 200px 0 0;
  /* border-radius: 50%; */
  /* box-shadow: 1px 1px 15px 15px green; */
}
.image-1 {
  height: 500px;
  /* width: 300px; */
  /* border: 1px solid black; */
  /* margin: 500px 200px 0 0; */
  /* border-radius: 50%; */
}
.Linkedle-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.Github-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
@media only screen and (max-width: 1300px) {
  .container {
    display: inline-block;
  }
  .name-heading {
    width: 101%;
    height: 40px;
    margin-left: 168px;
    font-size: 70px;
    color: rgb(20, 47, 61);
  }
  .tytle {
    /* border: 1px solid black; */
    width: 182%;
    height: 162px;
    /* margin: 20px 0 0 12px; */
    font-size: 40px;
    color: rgb(87, 158, 180);
  }
  .left-section {
    height: 200px;
    width: 500px;
    /* border: 1px solid rgb(31, 54, 136);s */
    margin: 30px 0px 0 360px;
    font-size: 16px;
    /* background-color: blue; */
    border-radius: 10px;
  }
  .right-section {
    margin: 143px 0px 0 150px;
    /* border: 1px solid black; */
    width: 100%;
  }
  .image-1 {
    height: 500px;
    /* width: 300px; */
    /* border: 1px solid black; */
    margin: -100px 0px 0px 80px;
    /* border-radius: 50%; */
  }
  /* .right-section {
    margin: 300px 0px 0 150px;
  } */
}
@media only screen and (max-width: 1000px) {
  .container {
    display: inline-block;
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 200px;
    font-size: 16px;

    border-radius: 10px;
  }
  .image-1 {
    height: 500px;

    margin: 0px 0px 0px 80px;
  }
  .right-section {
    margin: 143px 200px 0 0;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    display: inline-block;
  }
  .tytle {
    /* border: 1px solid black; */
    width: 160%;
    height: 162px;
    /* margin: 20px 0 0 12px; */
    font-size: 40px;
    color: rgb(87, 158, 180);
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 130px;
    font-size: 16px;

    border-radius: 10px;
  }
  .image-1 {
    height: 500px;

    margin: 0px 0px 0px 80px;
  }
  .right-section {
    margin: 143px 200px 0 0;
  }
}
@media only screen and(max-width:500px) {
  .right-section {
    margin: 300px 0 0 202px;
  }
}
@media only screen and (max-width: 400px) {
  .tytle {
    /* border: 1px solid black; */
    width: 159%;
    height: 162px;
    /* margin: 20px 0 0 12px; */
    font-size: 40px;
    color: rgb(87, 158, 180);
  }
}
