.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section {
  height: 200px;
  width: 500px;

  margin: 200px 0px 0 80px;
  font-size: 16px;

  border-radius: 10px;
}
.name-heading {
  font-size: 70px;
  height: 60px;
  width: 90%;

  margin-left: 40px;
  color: rgb(20, 47, 61);
}
.tytle {
  font-size: 40px;
  color: rgb(87, 158, 180);
}
.right-section {
  margin: 500px 200px 0 0;
}
.image-1 {
  height: 500px;
}
.Linkedle-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.Github-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
@media only screen and (max-width: 1300px) {
  .container {
    display: inline-block;
  }
  .name-heading {
    width: 101%;
    height: 40px;
    margin-left: 168px;
    font-size: 70px;
    color: rgb(20, 47, 61);
  }
  .tytle {
    width: 182%;
    height: 162px;

    font-size: 40px;
    color: rgb(87, 158, 180);
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 360px;
    font-size: 16px;

    border-radius: 10px;
  }
  .right-section {
    margin: 143px 0px 0 150px;

    width: 100%;
  }
  .image-1 {
    height: 500px;

    margin: -100px 0px 0px 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    display: inline-block;
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 350px;
    font-size: 16px;

    border-radius: 10px;
  }
  .image-1 {
    height: 500px;

    margin: 0px 0px 0px 440px;
  }
  .right-section {
    margin: 143px 200px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    display: inline-block;
  }
  .tytle {
    width: 160%;
    height: 162px;

    font-size: 40px;
    color: rgb(87, 158, 180);
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 250px;
    font-size: 16px;

    border-radius: 10px;
  }
  .image-1 {
    height: 500px;

    margin: 0px 0px 0px 350px;
  }
  .right-section {
    margin: 143px 200px 0 0;
  }
}
@media only screen and(max-width:500px) {
  .right-section {
    margin: 300px 0 0 202px;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    display: inline-block;
  }
  .name-heading {
    width: 101%;
    height: 40px;
    margin-left: 120px;
    font-size: 70px;
    color: rgb(20, 47, 61);
  }
  .left-section {
    height: 200px;
    width: 500px;

    margin: 30px 0px 0 120px;
    font-size: 16px;

    border-radius: 10px;
  }
  .image-1 {
    height: 500px;
    width: 700px;
    margin: 60px 0px 0px 150px;
  }
  .right-section {
    margin: 143px 200px 0 0;
  }
  .Linkedle-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 50px;
  }
  .Github-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .tytle {
    width: 160%;
    height: 162px;

    margin-left: -30px;
    font-size: 40px;
    color: rgb(87, 158, 180);
  }
}
@media only screen and (max-width: 426px) {
}
