.container {
  display: flex;
  align-items: center;
  /* margin: auto; */
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 60px;
}
.left {
  margin-left: 40px;
  font-size: 30px;
  /* color: black; */
}
/* .right {
  color: white;
  margin-right: 37px;
}
.link {
  margin-right: 28px;
  font-size: 20px;
} */
.right:hover {
  border-bottom: 2px solid yellows;
}
.list {
  list-style-type: none;
  margin-left: 50px;
  font-size: 25px;

  /* color: black; */
}
li:hover {
  background-color: rgb(65, 186, 176);
}
.main-list {
  display: flex;
  margin-left: 20px;
}
@media only screen and (max-width: 1400px) {
  .left {
    margin-left: 12px;
    font-size: 30px;
    /* color: black; */
  }
  .main-list {
    display: flex;
    margin-left: 160px;
    height: 20px;
    width: 50%;
    /* border: 1px solid black; */
  }
  .list {
    list-style-type: none;
    margin-right: 33px;
    font-size: 25px;
    height: 20px;
    width: 150%;
    /* border: 1px solid black; */

    /* color: black; */
  }
}
@media only screen and (max-width: 1300px) {
  .left {
    margin-left: 650px;
    font-size: 30px;
    /* color: black; */
  }
  .main-list {
    display: flex;
    margin-left: 160px;
    height: 20px;
    width: 130%;
    /* border: 1px solid black; */
  }
  .list {
    list-style-type: none;
    margin-left: 25px;
    font-size: 25px;
    height: 20px;
    width: 150%;
    /* border: 1px solid black; */

    /* color: black; */
  }
}
@media only screen and (max-width: 1000px) {
  .left {
    margin-left: 550px;
    font-size: 30px;
    /* color: black; */
  }
  .main-list {
    display: flex;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .left {
    margin-left: 360px;
    font-size: 30px;
    /* color: black; */
  }
  .main-list {
    display: flex;
    margin-left: -40px;
  }
  .list {
    list-style-type: none;
    margin-left: 32px;
    font-size: 25px;
    height: 20px;
    width: 150%;
    /* border: 1px solid black; */
    /* color: black; */
  }
}
@media only screen and (max-width: 400px) {
  .main-list {
    display: flex;
    margin-left: 0px;
    height: 20px;
    width: 100%;
    /* border: 1px solid black; */
  }
  .left {
    margin-left: 353px;
    font-size: 30px;
    /* color: black; */
  }

  .list {
    list-style-type: none;
    margin-left: 40px;
    font-size: 25px;
    height: 20px;
    width: 150%;
    /* border: 1px solid black; */

    /* color: black; */
  }
}
