.container {
  display: flex;
  align-items: center;
  /* margin: auto; */
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 60px;
}
.left {
  margin-left: 40px;
  font-size: 30px;
}
/* .right {
  color: white;
  margin-right: 37px;
}
.link {
  margin-right: 28px;
  font-size: 20px;
} */
.right:hover {
  border-bottom: 2px solid yellows;
}
