.project-main-section {
  display: flex;
}
.project-heading-section {
  margin: 50% 0 0 150px;
  color: rgb(50, 71, 97);
}
.project-image-section {
}
.project-paragraph-section {
  margin: 20px 0px 0px 10px;
  font-size: 20px;
}
@media only screen and (max-width: 1025px) {
  /* .project-main-section {
    display: flex;
  } */
  .project-heading-section {
    margin: 150px 0 0 50px;
    color: rgb(50, 71, 97);
    /* border: 1px solid black; */
  }
  .project-paragraph-section {
    margin: 20px 0px 0px 10px;
    font-size: 20px;
    width: 390px;
    /* border: 1px solid black; */
  }
  /* .project-image-section {
    margin: 0 0 0 200px;
  } */
}

@media only screen and (max-width: 426px) {
  .project-image-section-child {
    width: 530px;
    height: 430px;
  }
  .project-heading-section {
    margin: 50px 0 0 50px;
    color: rgb(50, 71, 97);
    /* border: 1px solid black; */
  }
}
