.projectName-main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.First-project {
  height: 180px;
  width: 380px;

  background-color: rgb(208, 208, 169);
  border-radius: 5px;
  box-shadow: 5px 5px 7px 10px rgb(133, 133, 88);
}
.second-project {
  height: 180px;
  width: 380px;

  background-color: rgb(208, 208, 169);
  border-radius: 5px;
  box-shadow: 5px 5px 7px 10px rgb(133, 133, 88);
}
.third-project {
  height: 180px;
  width: 380px;

  background-color: rgb(208, 208, 169);
  border-radius: 5px;
  box-shadow: 5px 5px 7px 10px rgb(133, 133, 88);
}
.first-project-heading-section {
  margin: 10px 0 0 30%;
  color: rgb(45, 79, 64);
}
.second-project-heading-section {
  margin: 10px 0 0 30%;
  color: rgb(45, 79, 64);
}
.third-project-heading-section {
  margin: 10px 0 0 27%;
  color: rgb(45, 79, 64);
}
.first-project-paragraph-section {
  font-size: 20px;
  margin: 10px 0 0 22px;
}
.second-project-paragraph-section {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
.third-project-paragraph-section {
  font-size: 20px;
  margin: 10px 0 0 7px;
}
a {
  text-decoration: none;
  color: rgb(94, 137, 137);
}
.All-project-containt {
  height: 250px;
  width: 280px;
  margin: 40px auto;
}
.All-project-image {
  height: 140px;
  width: 140px;
  margin: 0 0 0 40px;
}
.Github-Id-Name {
}
@media only screen and (max-width: 1025px) {
  .projectName-main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .First-project,
  .second-project,
  .third-project {
    margin-left: 68px;
  }
  .All-project-containt {
    height: 250px;
    width: 280px;
    margin: 40px 0 0 60%;
  }
}
@media only screen and (max-width: 769px) {
  .First-project,
  .second-project,
  .third-project {
    margin-left: 30px;
  }
  .All-project-containt {
    height: 250px;
    width: 280px;
    margin: 40px 0 0 73%;
  }
}
@media only screen and (max-width: 426px) {
  .projectName-main-section {
    display: inline-block;

    margin: 0 0 0 200px;
  }
  .All-project-containt {
    height: 250px;
    width: 270px;
    margin: 40px 0 0 103%;
  }
  .First-project,
  .second-project,
  .third-project {
    margin-top: 30px;
    width: 620px;
  }
}
@media only screen and (max-width: 376px) {
  .All-project-containt {
    height: 250px;
    width: 280px;

    margin: 40px 0 0 100%;
  }
  .First-project,
  .second-project,
  .third-project {
    margin-top: 30px;
    width: 720px;
  }
  .projectName-main-section {
    display: inline-block;

    margin: 0 0 0 100px;
  }
}
@media only screen and (max-width: 321px) {
  .All-project-containt {
    height: 250px;
    width: 280px;
    margin: 40px 0 0 98%;
  }
}
