.Degrees-Received {
  margin: 0 0 0 35%;

  color: rgb(37, 36, 36);
}
.qualification-main-heading {
  width: 70%;
}
.qualification-list {
  list-style-type: none;
  font-size: 20px;
}
#panel1-header {
  background-color: rgb(62, 184, 186);
  color: rgb(106, 12, 12);
}
.qualification-parent-section {
  margin-left: 300px;
}
.qualification-second-list {
  font-size: 25px;
  list-style-type: none;
}
.qualification-second-main-section {
  width: 70%;
}
#panel2-header {
  background-color: rgb(62, 184, 186);
  color: rgb(106, 12, 12);
}

@media only screen and (max-width: 1441px) {
  .qualification-parent-section {
    margin-left: 130px;

    width: 85%;
  }
  .qualification-main-heading,
  .qualification-second-main-section {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .Degrees-Received {
    margin: 0 0 0 50%;
    color: rgb(37, 36, 36);
  }
  .qualification-parent-section {
    margin-left: 200px;

    width: 107%;
  }
  .qualification-main-heading,
  .qualification-second-main-section {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .Degrees-Received {
    margin: 60px 0 0 50%;
    width: 60%;
    color: rgb(37, 36, 36);
  }
  .qualification-parent-section {
    margin-left: 200px;
    margin-top: 50px;
    width: 125%;
  }
  .qualification-main-heading,
  .qualification-second-main-section {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .Degrees-Received {
    margin: 60px 0 0 75%;
    width: 100%;
    color: rgb(37, 36, 36);
  }
  .qualification-parent-section {
    margin-left: 170px;
    margin-top: 50px;
    width: 165%;
    border: 1px solid black;
  }
  .qualification-main-heading,
  .qualification-second-main-section {
    width: 100%;
  }
}
@media only screen and (max-width: 376px) {
  .Degrees-Received {
    margin: 60px 0 0 75%;
    width: 120%;
    color: rgb(37, 36, 36);
  }
  .qualification-parent-section {
    margin-left: 70px;
    margin-top: 50px;
    width: 235%;
    border: 1px solid black;
  }
}
@media only screen and (max-width: 321px) {
  .Degrees-Received {
    margin: 60px 0 0 75%;
    width: 140%;
    color: rgb(37, 36, 36);
  }
  .qualification-parent-section {
    margin-left: 170px;
    margin-top: 50px;
    width: 185%;
    border: 1px solid black;
  }
  .qualification-main-heading,
  .qualification-second-main-section {
    width: 100%;
  }
}
