.heading {
  margin: 40% 0 0 40%;
  font-size: 80px;
  color: rgb(23, 22, 22);
}

.title {
  display: flex;
}
.image-main-section {
  height: 300px;
  width: 50%;
}
.image {
  height: 400px;
  width: 100%;
  margin-top: 30px;
}
.heading-title {
  font-size: 60px;
  color: rgb(47, 47, 57);
  margin: 40px 0 0 40px;
}
.Skills-Link-section {
  height: 70px;
  width: 80%;

  margin: 10px 0 0 50px;
}

.materialui {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.npm {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.reactjs {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.html5 {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}
.css3 {
  height: 50px;
  width: 50px;
  margin-left: 13px;
}
.javascript {
  height: 50px;
  width: 50px;
  margin-left: 13px;
}
.explain-section {
  height: 180px;
  width: 100%;
}
.explain {
  font-size: 23px;
  list-style-type: none;
}
.bootstrap {
  margin-left: 13px;
}

@media only screen and (max-width: 900px) {
  .heading {
    margin: 3% 0 0 50%;
    font-size: 80px;
    color: rgb(23, 22, 22);
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    display: inline;
  }

  .heading {
    margin: 3% 0 0 48%;
    font-size: 80px;
    color: rgb(23, 22, 22);
  }
  .image {
    height: 400px;
    width: 179%;
    margin: 30px 0 0 220px;
  }
  .heading-title {
    font-size: 60px;
    color: rgb(47, 47, 57);
    margin: 90px 0 0 390px;
  }
  .Skills-Link-section {
    height: 70px;
    width: 100%;

    margin: 50px 0 0 380px;
  }
  .explain-section {
    height: 180px;
    width: 100%;

    margin: 0 0 0 20%;
  }
  .explain {
    font-size: 30px;
    list-style-type: none;
    margin: 0 0 0 0px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    display: inline;
  }
  .image {
    height: 400px;
    width: 253%;
    margin: 30px 0 0 150px;
  }

  .heading-title {
    font-size: 70px;
    width: 90%;

    color: rgb(47, 47, 57);
    margin: 90px 0 0 275px;
  }
  .Skills-Link-section {
    height: 70px;
    width: 90%;

    margin: 50px 0 0 320px;
  }
  .explain-section {
    height: 180px;
    width: 130%;

    margin: 0 0 0 20%;
  }
  .explain {
    font-size: 30px;
    list-style-type: none;
    margin: 0 0 0 0px;
  }
}
@media only screen and (max-width: 426px) {
  .explain {
    font-size: 27px;
    list-style-type: none;
    margin: 50px 0 0 60px;
  }
  .Skills-Link-section {
    height: 70px;
    width: 120%;

    margin: 50px 0 0 255px;
  }
  .heading-title {
    font-size: 60px;
    color: rgb(47, 47, 57);
    margin: 90px 0 0 220px;
  }
  .heading {
    margin: 10px 0 0 60%;
    font-size: 80px;
    color: rgb(23, 22, 22);

    width: 100%;
  }
  .image {
    height: 400px;
    width: 340%;
    margin: 30px 0 0 150px;
  }
  .heading-title {
    font-size: 70px;
    width: 165%;

    color: rgb(47, 47, 57);
    margin: 90px 0 0 200px;
  }
  .explain-section {
    height: 180px;
    width: 230%;

    margin: 0 0 0 0%;
  }
}
@media only screen and (max-width: 376px) {
  .heading-title {
    font-size: 70px;
    width: 225%;
    /* border: 1px solid black; */
    color: rgb(47, 47, 57);
    margin: 230px 0 0 100px;
  }
  .image {
    height: 600px;
    width: 800px;
    /* border: 1px solid black; */
    margin: -40px 0 0 70px;
  }
  .heading {
    margin: 10px 0 0 84%;
    height: 130px;
    width: 400px;
    /* border: 1px solid black; */
    font-size: 70px;
    color: rgb(23, 22, 22);

    width: 110%;
  }
  .Skills-Link-section {
    height: 70px;
    width: 255%;
    /* border: 1px solid black; */
    margin: 50px 0 0 85px;
  }
  .html5,
  .css3,
  .javascript,
  .bootstrap,
  .materialui,
  .npm,
  .reactjs {
    height: 80px;
    width: 100px;
    /* border: 1px solid black; */
  }
  .explain {
    font-size: 37px;
    list-style-type: none;
    margin: 50px 0 0 60px;
  }
  .explain-section {
    height: 180px;
    width: 260%;

    margin: 0 0 0 0%;
  }
}
@media only screen and (max-width: 321px) {
  .heading-title {
    font-size: 70px;
    width: 215%;

    color: rgb(47, 47, 57);
    margin: 90px 0 0 200px;
  }
  .heading {
    margin: 10px 0 0 88%;
    font-size: 80px;
    color: rgb(23, 22, 22);

    width: 140%;
  }
  .Skills-Link-section {
    height: 70px;
    width: 165%;

    margin: 50px 0 0 255px;
  }
  .explain {
    font-size: 27px;
    list-style-type: none;
    margin: 50px 0 0 60px;
  }
  .explain-section {
    height: 180px;
    width: 320%;

    margin: 0 0 0 0%;
  }
  .image {
    height: 400px;
    width: 431%;
    margin: 30px 0 0 150px;
  }
}
