.container-skills {
  margin: 500px 0 0 40px;
}
.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* border: 1px solid black; */
}
.skillsType {
  height: 300px;
  width: 400px;
  border: 1px solid black;
}
.skills-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

  /* border: 1px solid black; */
}
